.navbar-logo {
  transition: transform 0.3s ease;
  width: 150px;
}

.navbar-logo:hover {
  transform: scale(1.05);
}


.navbar{
    /* background-color: #1a1a1a; */
    color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #49557e;
    font-size: 18px;
    
}
.navbar-menu a{
    text-decoration: none;
    color: inherit;
}

.navbar-item {
    cursor: pointer;
    transition: color 0.3s;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.signIn-button{
    background-color: transparent;
    border: 1px solid tomato;
    color: #49557e;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    
}

.signIn-button:hover{
    background-color: #fff4f2;
    /* color: white; */
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-search-icon {
    position: relative;
    cursor: pointer;
}
.search-icon{
    cursor: pointer;
}
.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1050px) {

    .navbar-logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
        /* font-size: 14px; */
    }
}


@media (max-width: 900px) {

    .navbar-logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 15px;
        font-size: 13px;
    }
}



@media (max-width: 750px) {


    .navbar-menu {
        display: none;
    }

}