
.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-close-icon {
    /* position: absolute; */
    /* top: 15px; */
    /* right: 15px; */
    width: 16px;
    cursor: pointer;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    background-color: white;
    color: #808080;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
   display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.login-popup-container button{
    background-color: tomato;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.login-popup-condition {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
    /* font-size: 12px; */
    /* line-height: 1.4; */
}
.login-popup-condition input{
    margin-top: 5px;
    /* width: 15px;
    height: 15px; */
    cursor: pointer;
}

.login-popup p span {
    color: tomato;
    cursor: pointer;
    font-weight: 500;
}